@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-black;
  }
  
  body {
    @apply bg-[#F4F4F0] text-[#111111] transition-colors duration-0;
    background-image: radial-gradient(circle, #000000 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-black uppercase tracking-tight;
  }
}
